/* RESET */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}



/* TYPO */

h1, h2, h3, h4{
    color: white;
}


/* COMMON */

body{
    height: 100vh;
}

h3{
    font-size: 14px;
}

main{
    height: calc(100% - 90px);
    display: flex;
}

.sidebar{
    background-color: #000000;
    max-width: 230px;
    min-width: 50px;
}

.content{
    background-color: #141922;
    width: 100%;
}

.container{
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.fa-solid{
    color: white;
}

/* MAIN */

/* SIDEBAR */



nav div img{
    width: 100%;
}

.sidebar{
    color: #a2a3a2;
}

.small-logo{
    display: none;
    margin: 0 auto;
}

.big-logo{
    width: 70%;
}

.sidebar-icons div h3, .sidebar-icons div div i{
    display: inline-block;
}

.sidebar div ul li{
    color: #a2a3a2;
    list-style: none;
}

.user{
    align-self: flex-end;
}


/* FOOTER */

.bottom-bar{
    height: 90px;
    background-color: #282828;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}

.bottom-bar .col{
    height: 100%;
    display: flex;
    align-items: center;
}

.current-song{
    display: flex;
    padding: 25px 40px 25px 0px;
}

.current-song img{
    height: 100%;
}

.content-action i{
    display: block;
}

.volume, .current-song{
    width: 20%;
}

.volume{
    justify-content: space-around;
}

.volume-bar{
    width: 40%;
}


/* RESPONSIVE */

@media screen and (max-width: 767px){

    .small-logo{
        display: block;
    }

    .big-logo{
        display: none;
    }
    .sidebar{
        max-width: 50px;
    }
    .sidebar-icons div h3{
        display: none;
    }
    .sidebar-icons div{
        text-align: center;
    }
    .playlist-names{
        display: none
    }
    .playlist{
        display: none;
    }
}


@media screen and (min-width: 768px) and (max-width: 991px){

}


@media screen and (min-width: 992px){

}